server {
    listen localhost:8008;
    server_name a.com;
    root /Users/mnassi;
    upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /a {
        root /Users/mnassi/Desktop;
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /b {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /c {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /d {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
}

