#part 1
server {
    listen laloli.com:8080;
    server_name laloli.com;
    error_page 404 ./error_pages/404.html;
    root /home/zakaria/WebServ/up;
    max_body_size 2G;
    allow GET DELETE POST;
    upload_path /home/zakaria/WebServ/up/;
    location / {
        allow GET;
        index 4353.html asdf.html 400.html;
    }
}
