#part 1
server {
    listen localhost:8080;
    error_page 404 ./error_pages/404.html;
    root /mnt/c/Users/ULTRAPC/Downloads/toPush/pushthis;
    max_body_size 2G;
    allow GET DELETE POST;
    upload_path /mnt/c/Users/ULTRAPC/Downloads/toPush/pushthis;
    location / {
        allow GET;
        autoindex ON;
        index 4353.html asdf.html 400.html;
    }
}
