server {
    listen e2r6p6:1024;
    server_name e2r6p6;
    error_page 404 ./error_pages/404.html;
    max_body_size 2G;
    allow GET DELETE POST;
    upload_path /goinfre/zmakhkha/crx/upload/;
    root /goinfre/zmakhkha/crx;
    location / {
        root /goinfre/zmakhkha;
        allow GET POST;
        autoindex ON;
        index 4353.html asdf.html 400.html;
        cgi php  /goinfre/zmakhkha/chrome/php-cgi;
    }
    location /get {
        allow GET;
        autoindex ON;
    }
    location /post {
        root /goinfre/zmakhkha/crx/upload;
        autoindex ON;
        allow GET POST;
    }
}
