server {
    listen lalal.com:1024;
    server_name lalal.com;
    error_page 404 ./error_pages/404.html;
    max_body_size 2G;
    allow GET DELETE POST;
    upload_path /goinfre/zmakhkha/;
    root /goinfre/zmakhkha/crx;
    location / {
        root /goinfre/zmakhkha;
        allow GET POST;
        autoindex ON;
        index 4353.html asdf.html 400.html;
        cgi php  /goinfre/zmakhkha/chrome/php-cgi;
    }
}
server {
    listen localhost:6400;
    error_page 404 ./error_pages/404.html;
    max_body_size 21B;
    allow GET DELETE POST;
    upload_path /goinfre/zmakhkha/;
    root /goinfre/zmakhkha/;
    location / {
        root /asdfasd/;
        allow GET POST;
        autoindex ON;
        index 4353.html asdf.html 400.html;
        cgi php  /goinfre/zmakhkha/chrome/php-cgi;
    }
    location /a {
        allow GET;
        autoindex ON;
        index 4353.html asdf.html 400.html;
        root /Users/zmakhkha/Desktop/42-webserv/;
        cgi php  /goinfre/zmakhkha/chrome/php-cgi;
    }
    location /ab {
        root /Users/zmakhkha/Desktop/42-webserv;
        allow DELETE;
        autoindex ON;
        cgi php  /goinfre/zmakhkha/chrome/php-cgi;
    }
}
