#part 1
server {
    listen lalal.com:2200;
    server_name lalal.com;
    allow GET DELETE POST;
    upload_path /Users/zmakhkha/;
    root /Users/zmakhkha/Desktop/42-webserv/public;
    location / {
        redirect 301 http://www.poe.com/;
    }
}
server {
    listen localhost:2200;
    allow GET DELETE POST;
    upload_path /Users/zmakhkha/;
    root /Users/zmakhkha/Desktop/42-webserv/public;
    location / {
        redirect 301 http://www.youtube.com/;
    }
}
