server {
    listen localhost:8008;
    server_name laloli.com;
    root /Users/absaid;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    upload_path /mnt/c/Users/ULTRAPC/Downloads/toPush;
    location /prefix {
        autoindex ON;
        upload_path /mnt/c/Users/ULTRAPC/;
        cgi py /usr/bin/python3;
    }
    location /abc {
        autoindex OFF;
        allow GET;
        upload_path /mnt/c//;
        cgi py /usr/bin/python3;
    }
    location /abc {
        autoindex OFF;
        allow GET;
        upload_path /mnt/c//;
        cgi py /usr/bin/python3;
    }
    location /abc {
        autoindex OFF;
        allow GET;
        upload_path /mnt/c//;
        cgi py /usr/bin/python3;
    }
    location /abc {
        autoindex OFF;
        allow GET;
        upload_path /mnt/c//;
        cgi py /usr/bin/python3;
    }
    location /abc {
        autoindex OFF;
        allow GET;
        upload_path /mnt/c//;
        cgi py /usr/bin/python3;
    }
}