server {
    listen localhost:8008;
    server_name a.com;
    root /Users/absaid;
    upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /a {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
}
server {
    listen localhost:8008;
    server_name b.com;
    root /Users/absaid;
    upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /b {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
}
server {
    listen localhost:8008;
    server_name c.com;
    root /Users/absaid;
    upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /c {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
}
server {
    listen localhost:8008;
    server_name d.com;
    root /Users/absaid;
    upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /d {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
}
server {
    listen localhost:8008;
    server_name e.com;
    root /Users/absaid;
    upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /e {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
}
server {
    listen localhost:8008;
    server_name f.com;
    root /Users/absaid;
    upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /f {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /f {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /f {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /f {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /f {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /f {
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /f {
        root c;
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
    location /f {
        root b;
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
        index a.html asdf.html asdf;
    }
    location /f {
        root a;
        index a.html asdf.html asdf;
        autoindex ON;
        upload_path /Users/mnassi/Desktop/1337/abc/Src/ConfigFile;
        cgi pyt /usr/bin/python3;
    }
}
