server {
    listen localhost:8008;
    server_name laloli.com;
    root /Users/absaid;

    upload_path /mnt/c/Users/ULTRAPC/Downloads/toPush;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 2G;
    location /prefix {
        autoindex ON;
        upload_path /mnt/c/Users/ULTRAPC/;
        cgi pyt /usr/bin/python3;
    }
}
server {
    listen localhost:4333;
    server_name pw.com;
    root /Users/absaid;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 123G;
    upload_path /mnt/c/Users/ULTRAPC/Downloads/toPush;
    location /prefix {
        autoindex ON;
        upload_path /mnt/c/Users/ULTRAPC/;
        cgi pyt /usr/bin/python3;
    }
}
server {
    listen localhost:5444;
    server_name pw.com;
    root /Users/absaid;
    allow GET POST DELETE;
    error_page 404 ./error_pages/400.html;
    max_body_size 123G;
    upload_path /mnt/c/Users/ULTRAPC/Downloads/toPush;
    location /prefix {
        autoindex ON;
        upload_path /mnt/c/Users/ULTRAPC/;
        cgi pyt /usr/bin/python3;
    }
}
